.idea/
cmake-build-debug/CMakeFiles/3.13.4/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/praktikum_1.dir/priorityqueue_t/
cmake-build-debug/CMakeFiles/Progress/
cmake-build-debug/CMakeFiles/praktikum_1.dir/C.includecache
cmake-build-debug/CMakeFiles/praktikum_1.dir/Tests/
cmake-build-debug/CMakeFiles/praktikum_1.dir/depend.internal
cmake-build-debug/CMakeFiles/praktikum_1.dir/main.c.o
cmake-build-debug/praktikum_1
